.btn-delete {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
    margin-right: 0.2rem;
}

.btn-delete:hover {
    color: #ffffff;
    background-color: #c82333;
    border-color: #bd2130;
}