.btn-save {
    color: #ffffff;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
    margin-right: 0.2rem;
}

.btn-save:hover {
    color: #ffffff;
    background-color: #218838;
    border-color: #1e7e34;
}